*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    background-image: url(images/image.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.navbar{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logo{
    width: 1px;
    cursor: pointer;
}

.navbar ul li{
    list-style: inline;
    display: inline-block;
    margin: 0 15px;
}

.navbar ul li a{
    text-decoration: none;
    color: #5f5f5f;
    font-size: 15px;
}

.content{
        width: 100%;
        position: absolute;
        top: 30%;
}

.left_col{
    margin-left: 6%;
}

.left_col h1{
    font-size: 500%;
    color: #fff;
    line-height: 90px;
    float: left;
}

.right_col{
    position: absolute;
    float: right;
    right: 10%;
    top: 150px;
    display: flex;
    align-items: center;
}

.right_col h2{
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 29px;
    margin: 0;
}

.now_playing {
    position: relative;
    top: -70px;
    background-color: #F9BDBC;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
}

#songTitle {
    font-family: OCR A Std, monospace;
    font-size: 20px;
    margin: 0;
}

#icon{
    width: 81px;
    cursor: pointer;
    align-items: right;
}
